.navbar-default {
    background-color: #1E824C;
    border-color: #1E824C;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #1E824C;
    color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #1E824C;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #03A678;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #03A678;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #1E824C;
    border: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #1E824C;
}

a {
    color: #1E824C;
}

a:hover, a:focus {
    color: #03A678;
}

.btn-primary {
    color: #fff;
    background-color: #1E824C;
    border: none;
}